.zodiac-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
html {
  background-color: black;
}
/* 
.zodiac-border-container {
  background: url("@/astro/assets/zodiac/Border.svg");
} */
