.container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  font-family: Roboto;
  height: 72.5vw;
  margin-top: 10vw;
}
.container > .miniapp:first-child {
  margin-left: 3.33%;
}
