@font-face {
	font-family: 'athelas';
	src:
		url('./assets/fonts/athelas-cufonfonts/Athelas-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'athelas';
	src:
		url('./assets/fonts/athelas-cufonfonts/Athelas-Bold.ttf')
		format('truetype');
	font-weight: bold;
}