.container {
  display: flex;
  text-align: center;
  font-family: Roboto;
}
.container > .miniapp:first-child {
  margin-left: 3.33%;
}
.title {
  font-weight: bold;
  font-size: 3.9vw;
  color: rgba(0, 0, 0, 0.6);
}
#header {
  font-size: 4vw;
  padding: 2.4vw 3.33vw;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 3.33%;
}
