.zodiac-multi {
  width: 41.67vw;
  height: 41.67vw;
  color: white;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  margin: 3.5vw 2.5vw;
}

.sunsign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.zodiac-img {
  width: 50%;
}

.outer-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}
