.Bd {
  border-width: 1px;
  border-style: solid;
}
.Bd\(n\)\:h:hover {
  border: none;
}
.Bdc\(t\)\:h:hover {
  border-color: transparent;
}
.Bdrs\(5px\) {
  border-radius: 5px;
}
.Bdrs\(4px\) {
  border-radius: 4px;
}
.Bdrs\(4vw\) {
  border-radius: 4vw;
}
.Bgc\(lightgrey\) {
  background-color: lightgrey;
}
.Bgc\(\#343517\) {
  background-color: #343517;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.C\(white\) {
  color: white;
}
.C\(\#956304\) {
  color: #956304;
}
.D\(f\) {
  display: flex;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Jc\(c\) {
  justify-content: center;
}
.Ff\(\$ffprimary\) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.Ff\(\$ffroboto\) {
  font-family: 'Roboto', sans-serif;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(\$fwbody\) {
  font-weight: 400;
}
.Fw\(700\) {
  font-weight: 700;
}
.Fz\(12px\) {
  font-size: 12px;
}
.Fz\(\$fzbody\), .Fz\(16px\) {
  font-size: 16px;
}
.H\(8vw\) {
  height: 8vw;
}
.H\(a\) {
  height: auto;
}
.Lh\(14px\) {
  line-height: 14px;
}
.Lh\(17px\) {
  line-height: 17px;
}
.Lh\(19px\) {
  line-height: 19px;
}
.Lh\(\$lhbody\) {
  line-height: 20px;
}
.M\(0\) {
  margin: 0;
}
.Mx\(10px\) {
  margin-left: 10px;
  margin-right: 10px;
}
.Mx\(18\%\) {
  margin-left: 18%;
  margin-right: 18%;
}
.Mx\(30vw\) {
  margin-left: 30vw;
  margin-right: 30vw;
}
.Mx\(35\%\) {
  margin-left: 35%;
  margin-right: 35%;
}
.Mx\(25\%\) {
  margin-left: 25%;
  margin-right: 25%;
}
.Mt\(2vw\) {
  margin-top: 2vw;
}
.Mt\(33vw\) {
  margin-top: 33vw;
}
.Mt\(40\%\) {
  margin-top: 40%;
}
.Mt\(44vw\) {
  margin-top: 44vw;
}
.Mt\(5vw\) {
  margin-top: 5vw;
}
.T\(0\) {
  top: 0;
}
.T\(30vh\) {
  top: 30vh;
}
.T\(38vw\) {
  top: 38vw;
}
.T\(40vh\) {
  top: 40vh;
}
.T\(45vh\) {
  top: 45vh;
}
.T\(55vw\) {
  top: 55vw;
}
.T\(56vh\) {
  top: 56vh;
}
.T\(68vw\) {
  top: 68vw;
}
.T\(72vw\) {
  top: 72vw;
}
.T\(77vw\) {
  top: 77vw;
}
.T\(82vw\) {
  top: 82vw;
}
.T\(9vw\) {
  top: 9vw;
}
.B\(8px\) {
  bottom: 8px;
}
.P\(0\.5vw\) {
  padding: 0.5vw;
}
.P\(10px\) {
  padding: 10px;
}
.P\(0\) {
  padding: 0;
}
.P\(3vw\) {
  padding: 3vw;
}
.Px\(15\%\) {
  padding-left: 15%;
  padding-right: 15%;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Py\(10px\) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Ta\(c\) {
  text-align: center;
}
.W\(8vw\) {
  width: 8vw;
}
.W\(20vw\) {
  width: 20vw;
}
.W\(25\%\) {
  width: 25%;
}
.W\(30\%\) {
  width: 30%;
}
.W\(100\%\) {
  width: 100%;
}
.W\(50vw\) {
  width: 50vw;
}
.W\(64\%\) {
  width: 64%;
}
.W\(80\%\) {
  width: 80%;
}
.W\(83\%\) {
  width: 83%;
}
.W\(50\%\) {
  width: 50%;
}
