.zodiac-single {
  color: white;
  font-size: 6.67vw;
  margin-top: 7vw;
}

.zodiac-single img {
  width: 50vw;
}

.zodiac-single-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zodiac-name {
  margin-top: 7vw;
}
