.zodiac-single {
  color: white;
  font-size: 6.67vw;
  margin-top: 7vw;
}

.zodiac-single img {
  width: 50vw;
}

.zodiac-single-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zodiac-name {
  margin-top: 7vw;
}

.category-name {
  font-size: 4.4vw;
  margin-bottom: 0.5vw;
}
.category-description {
  font-size: 3.88vw;
}

.zodiac-content {
  margin: 6.67vw 15vw;
}
